@import '../global';

.button {
  margin-bottom: 0;
}

.email {
  margin-right: 1rem;
}

.title {
  font-size: 1.45rem;
  color: $white;
  font-weight: bold;
}

.captialized {
  color: $primary-color;
}

