{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "plugins": [
    "classes",
    "filenames"
  ],
  "rules": {
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": false
      }
    ],
    "classes/name": [
      2,
      "class",
      "method"
    ],
    "comma-dangle": 0,
    "consistent-this": [
      2,
      "self"
    ],
    "filenames/filenames": [
      2,
      "^[A-Za-z][a-zA-Z0-9]*$",
      "match-exported-or-regex"
    ],
    "no-else-return": [
      0
    ],
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "operator-linebreak": [
      2,
      "after"
    ],
    "padded-blocks": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-indent-props": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": [2, {"ignore": ["children", "history"]}]
  }
}
