@import '../../global';

.profile {

  .fieldset {
    padding-bottom: 0;
    padding-right: 0.5rem;
    @include breakpoint(medium) {
      min-height: 16.5rem;
    }
    margin-top: 0;
    margin-bottom: rem-calc(30);
  }

  .hor-label-container {
    display: inline-block;
  }

  .hor-label {
    display: inline-block;
    margin-left: 1rem;
    height: 0;
  }

  .hor-left-label {
    display: inline-block;
    margin-right: 1rem;
  }

  .hor-input {
    margin-right: 0.25rem;
    display: inline-block;
  }

  .single-width {
    width: 4rem;
  }

  .profile-inputbox {
    height: 5rem;
  }

}
