@import '../../global';

.profile {

  .mainProfile {
    .fieldset {
      margin-bottom: 1rem;
      border: 0;

      @include breakpoint(small only) {
        margin-bottom: 0;
        padding: 0;
      }

      &.short {
        min-height: 10rem;
      }

      &.shortOnLarge {
        @include breakpoint(large) {
          min-height: 10rem;
        }
      }
    }
  }

  .description {
    height: 10rem;
  }

  .fieldset {
    padding-bottom: 0;
    padding-right: 0.5rem;
    @include breakpoint(medium) {
      min-height: 17.2rem;
    }
    margin-top: 0;
    margin-bottom: rem-calc(30);
  }

  .hor-label-container {
    display: inline-block;
  }

  .hor-label {
    display: inline-block;
    margin-left: 1rem;
    height: 0;
  }

  .hor-radio-container {
    display: inline-block;
    @include breakpoint(small only) {
      float: right;
    }
  }

  .hor-left-label {
    display: inline-block;
    margin-right: 1rem;
  }

  .hor-input {
    margin-right: 0.25rem;
    display: inline-block;
  }

  .single-width {
    width: 4rem;
  }

  .profile-inputbox {
    height: 5rem;
  }

  .Select-control {
    margin-bottom: 2rem;
  }

}
