@import '../../global';

.profile {

  .fieldset {
    padding-bottom: 0;
    padding-right: 0.5rem;
    @include breakpoint(medium) {
      min-height: 16.5rem;
    }
  }

  .hor-label-container {
    display: inline-block;
  }

  .hor-label {
    display: inline-block;
    margin-left: 1rem;
    height: 0;
  }

  .hor-input {
    margin-right: 0.25rem;
  }

}
